<!DOCTYPE html>
<html>

<%- include('./partials/head_header.ejs') %>


<body>



    <div class="banner"></div>

    <h1>Welcome to the Football Statistics App!</h1>

    <h2>Here are all the best players in the world</h2>


    <section class="playersSection">

        <% players.forEach((player, index)=> { %>
        
        <div class="playerCardFrame">
            <a href="/players/<%= player._id %>">
                <p class="playerIndex"><%= index +1 %></p>
                <img src="<%= player.img_url %>" alt="<%= player.playerName %>">
                <div class="playerInfoText">
                    <p class="playerName">
                        <%= player.playerName %>
                    </p>
                    <p class="playerCountry">
                        <%= player.nationality %>
                    </p>
                </div>
            </a>
        </div>

        <% }) %>

    </section>
    
    <script src="/static/scripts/index.js"></script>
</body>

</html>